@font-face {
    font-family: 'montage';
    src: url('../fonts/Montages.ttf') format('truetype');
}
@font-face {
    font-family: 'superion';
    src: url('../fonts/Superion.otf') format('opentype');
}
@font-face {
    font-family: 'wd';
    src: url('../fonts/wd.otf') format('opentype');
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #010101;
}
header{
    display: flex;
    width: 90%;
    margin: auto;
    /* border: 1px solid #e9204f; */
    justify-content: space-between;
}
header h1{
    font-family: 'wd',sans-serif;
    color: white;
    padding: 10px;
}
span{
    color: #e9204f;
}

.nav li{
    font-family: 'superion',sans-serif;
    list-style-type: none;
    display: inline-block;
    padding: 5px;

}
.nav li a{
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background: #1b1b1b;
    padding: 5px;
}
.nav li a:hover{
    background: #e9204f;
    color: #1b1b1b;
}
.main{
    display: flex;
    width: 80%;
    max-width: 750px;
    /* border: 1px solid #e9204f; */
    margin: 0 auto;
    font-family: 'wd', sans-serif;
}
.content{
    margin: auto;
    width: 60%;
    text-align: center;
   
}
.content h1,p{
    color: whitesmoke;
}

.image img{
    width: 100%;
}
#lower{
    font-family: 'wd',sans-serif;
    display: flex;
    padding: 10px;
}
.box1{
    margin: 10px;
    flex: 2.5;
    height: 200px;
    background-color: #1b1b1b;
    color: white;
    border-radius: 10px;
    text-align: center;
    /* border: 1px solid red; */
    position: relative;
    overflow: auto;
}
.box1 h1{
    padding-top: 10px;
}
.links {
    width: 90%;
    /* border: 1px solid red; */
    margin: 0 auto;
    position: absolute;
    
}
.links li{
    /* text-align: center; */
    list-style-type: none;
    font-size: 40px;
    display: inline-block;
    padding: 15px;
}
.links a{
    color:white;
}
.links a:hover{
    color: #e9204f;
}

.box2{
    margin: 10px;
    flex: 2.5;
    height: 200px;
    background-color: #1b1b1b;
    color: white;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}
.box3{
    margin: 10px;
    flex: 2.5;
    height: 200px;
    background-color: #1b1b1b;
    color: white;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}
.box4{
    margin: 10px;
    flex: 2.5;
    height: 200px;
    background-color: #1b1b1b;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    overflow:auto;
}
